streamlit>=1.31.0
python-magic>=0.4.27
GitPython>=3.1.40
python-dotenv>=1.0.0
Pygments>=2.17.2
plotly>=5.18.0
pandas>=2.2.0
numpy==1.26.3
pathlib==1.0.1
zipfile38==0.0.3
radon>=6.0.1
pylint>=3.0.2
astroid>=3.0.1
pyarrow>=15.0.0
requests>=2.31.0
openai>=1.13.3
anthropic>=0.18.1
google-generativeai>=0.3.2
cohere>=4.51
llama-cpp-python>=0.2.68 